#sobreMim{
    margin-top: 2rem;
    margin-right: 3rem;
    margin-left: 3rem;
    width: 65%;
}

.sobreMim__titulo{
    font-size: 28px;
    margin-bottom: 10px;
}

.sobreMim__descricao{
    font-size: 17px;
    color: black;
    font-weight: 300;
}

